<div class="container-fluid container mb-3 pe-5">
  <div class="flex-row justify-content-start">
    <img class="img-fluid" src="/images/logos.png" />
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="text-center">
                <h1 class="display-1" id="titleL">INICIO DE</h1>
                <h1 class="display-1" id="titleL2">SESIÓN</h1>
                <form action="/login" method="post" id="formLogin">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" name="correo" placeholder="Correo" required />
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="clave" placeholder="Clave" required />
                    </div>
                    <div class="input-group mb-3">
                        <button type="submit" class="btn btn-primary btnColor">Iniciar sesión</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-5 container">
            <div class="d-flex container justify-content-center align-items-center h-100">
                <img src="/images/inicio.png" class="img-fluid"/>
            </div>
        </div>
    </div>
</div>
</div>

{{!Alerta contraseña o correo incorrectos}}
{{#if message}}
  <script>
    alert('{{message}}');
  </script>
{{/if}}