/*Pantalla Login*/
body{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-image: url("/images/fondo.jpg");
}

#titleL{
    color: #993399;
    font-size: 80px;
}
   #titleL2{
    color: #ffffff;
    font-size: 80px;
}

/*Pantalla Menú*/
#titleM{
    color: #ffffff;
}
#nDiv{
    height: 60px;
}

/*Pantalla reporte
#signCanva {
    border: 2px dotted #CCCCCC;
    border-radius: 15px;
    cursor: crosshair;
}
*/

/*Pantalla nuevo reporte*/
#campoUser{
    display: none;
}