<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error: {{error}}</h4>
        <p>Lo sentimos, ha ocurrido un error.</p>
        <hr />
        <p class="mb-0">Por favor, intenta nuevamente más tarde.</p>
        <hr />
        <a href="/" class="btn btn-danger">Regresar a inicio</a>
      </div>
    </div>
  </div>
</div>